.qb-list .list-group-item {
    margin-bottom: 0;
}

.qb-list-url {
    color: grey;
    font-size: 11px;
    padding-left: 1px;
}

.qb-list-btn {
    border-radius: 20px !important;
}

/**NewBarri.js*/
.qb-card {
    box-shadow: 3px 2px 10px 0px #cac8c8;
}

/**List*/
.qb-edit-icon {
    margin-left: 6px;
    cursor: pointer;
}
.qb-edit-icon:hover {
    color: #007bff !important;
}