.qb-steps {
    margin: 0 10px !important; 
}

.qb-steps h3 {
    display: flex;
}
.qb-steps hr {
    flex: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.qb-modal {
    font-size: 0.82rem;
}

.qb-telegram-icon {
    margin: -5px 10px;
}